body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color: #FFFFFF;
}

a {
  font-style: normal;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
  color: #2E2F42;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #404BBF;
}

a:active {
  color: #404BBF;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  background-color: #4D5AE5;
  color: #FFFFFF;
}

button:hover,
button:focus {
  background-color: #404BBF;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #2E2F42;
}

.logo--accent {
  color: #4D5AE5;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
}